body {
    padding: 5% 30% 10% 5%;  /* top right bottom left */
}

p {
    font-family: "Trebuchet MS", monospace, sans-serif;
}

h1 {
    font-family: "Trebuchet MS", monospace, sans-serif;
}

h2 {
    font-family: "Trebuchet MS", monospace, sans-serif;
}

img {
    float: right;
    position: relative;
    bottom: 60px;
}