body {
    padding: 100px 250px 50px 30px;
}

p {
    font-family: "Trebuchet MS", monospace, sans-serif;
}

h1 {
    font-family: "Trebuchet MS", monospace, sans-serif;
}

h2 {
    font-family: "Trebuchet MS", monospace, sans-serif;
}